<div class="main-content py-5">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="trend-watch wow animate__animated animate__fadeInLeft" data-wow-duration="2s" data-wow-delay=".3s">
                  <img src="./assets/images/trend-2.jpg" alt="" class="w-100 h-100">
                  <div class="content">
                      <h3 class="trend">Xu hướng 2019</h3>
                      <span></span>
                      <h2 class="clock-name">ĐỒNG HỒ NAM</h2>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="trend-watch two-trend wow animate__animated animate__fadeInRight " data-wow-duration="2s" data-wow-delay=".4s">
                  <img src="./assets/images/trend-2.jpg" alt="" class="w-100 h-100">
                  <div class="content">
                      <h3 class="trend">Xu hướng 2019</h3>
                      <span></span>
                      <h2 class="clock-name">ĐỒNG HỒ NỮ</h2>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>



<!-- owl-carousel -->
<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide *ngFor="let img of imagesList">
      <div class="slide">
          <img src="{{img}}">
      </div>
  </ng-template>

</owl-carousel-o>

<!-- end_owl-carousel -->



<div class="hot-products wow animate__animated animate__fadeInRight " data-wow-duration="2s" data-wow-delay=".5s">
  <div class="container">
      <h2>Sản phẩm bán chạy</h2>
      <div class="owl-carousel owl-theme my-hot-product">
          <div class="card text-center item ">
            <a href="product-details.html"><img class="card-img-top" src="./assets/images/product-05.png" alt="" ></a>
            <div class="card-body">
              <h4 class="card-title">Classico</h4>
              <p class="card-text">700,000 đ</p>
              <a href="">Thêm vào giỏ hàng</a>
            </div>
          </div>
          <div class="card text-center item item-active">
            <img class="card-img-top" src="./assets/images/product-03.png" alt="">
            <div class="card-body">
              <h4 class="card-title">Classico 4</h4>
              <p class="card-text">
                  <span style="text-decoration: line-through;">700,000</span>
                  <span>500,000 đ</span>
              </p>
              <a href="">Thêm vào giỏ hàng</a>
            </div>
            <div class="sale">-29%</div>
          </div>
          <div class="card text-center item ">
            <img class="card-img-top" src="./assets/images/product-04.png" alt="">
            <div class="card-body">
              <h4 class="card-title">Classico 3</h4>
              <p class="card-text">700,000 đ</p>
              <a href="">Thêm vào giỏ hàng</a>

            </div>
          </div>
          <div class="card text-center item ">
            <img class="card-img-top" src="./assets/images/product-02.png" alt="">
            <div class="card-body">
              <h4 class="card-title">Classico 2</h4>
              <p class="card-text">700,000 đ</p>
              <a href="">Thêm vào giỏ hàng</a>

            </div>
          </div>


          <!-- duplicate -->
          <div class="card text-center item ">
              <img class="card-img-top" src="./assets/images/product-05.png" alt="">
              <div class="card-body">
                <h4 class="card-title">Classico</h4>
                <p class="card-text">700,000 đ</p>
                <a href="">Thêm vào giỏ hàng</a>
              </div>
            </div>
            <div class="card text-center item item-active">
              <img class="card-img-top" src="./assets/images/product-03.png" alt="">
              <div class="card-body">
                <h4 class="card-title">Classico 4</h4>
                <p class="card-text">
                    <span style="text-decoration: line-through;">700,000</span>
                    <span>500,000 đ</span>
                </p>
                <a href="">Thêm vào giỏ hàng</a>
              </div>
              <div class="sale">-29%</div>
            </div>
            <div class="card text-center item ">
              <img class="card-img-top" src="./assets/images/product-04.png" alt="">
              <div class="card-body">
                <h4 class="card-title">Classico 3</h4>
                <p class="card-text">700,000 đ</p>
                <a href="">Thêm vào giỏ hàng</a>

              </div>
            </div>
            <div class="card text-center item ">
              <img class="card-img-top" src="./assets/images/product-02.png" alt="">
              <div class="card-body">
                <h4 class="card-title">Classico 2</h4>
                <p class="card-text">700,000 đ</p>
                <a href="">Thêm vào giỏ hàng</a>

              </div>
            </div>
      </div>
  </div>
</div>



<div class="classic-smart-product main-content">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="trend-watch wow animate__animated animate__fadeInUp " data-wow-duration="2s" data-wow-delay=".6s">
                  <img src="./assets/images/trend-2.jpg" alt="" class="w-100 h-100">
                  <div class="content one-content">
                      <h2 class="trend">
                          CỔ ĐIỂN</h2>

                      <h3>
                          Đa dạng về phong cách, kiểu dáng, <br> màu sắc, kích cỡ...
                      </h3>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="trend-watch two-trend wow animate__animated animate__fadeInDown " data-wow-duration="2s" data-wow-delay=".7s">
                  <img src="./assets/images/trend-2.jpg" alt="" class="w-100 h-100">
                  <div class="content two-content one-content">
                      <h2 class="trend">SMART WATCH</h2>
                      <h3>
                          Đa dạng về phong cách, kiểu dáng, <br> màu sắc, kích cỡ...
                      </h3>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </div>
<!-- </div> -->


<div class="common-product-tab wow animate__animated animate__fadeInRight " data-wow-duration="2s" data-wow-delay="1s">
  <div class="container">

     <div role="tabpanel">
         <!-- Nav tabs -->
         <ul class="nav nav-tabs" role="tablist">
             <li role="presentation li-tab" class="active">
                 <a href="#home" aria-controls="home" role="tab" data-toggle="tab" class="a-tab">Sản phẩm phổ biến</a>
             </li>
             <li role="presentation li-tab">
                 <a href="#tab" aria-controls="tab" role="tab" data-toggle="tab" class="a-tab">Sản phẩm khuyến mãi</a>
             </li>
             <li role="presentation li-tab">
                 <a href="#hello" aria-controls="hello" role="tab" data-toggle="tab" class="a-tab">Sản phẩm mới</a>
             </li>
         </ul>

         <!-- Tab panes -->
         <div class="tab-content">
             <div role="tabpanel" class="tab-pane active" id="home">

              <div class="owl-carousel owl-theme  produc-one">
                  <div class="card text-center item ">
                      <img class="card-img-top" src="./assets/images/product-12.jpg" alt="">
                      <div class="card-body">
                        <h4 class="card-title">Simple 10</h4>
                        <p class="card-text">700,000 đ</p>
                        <a href="">Thêm vào giỏ hàng</a>
                      </div>
                  </div>
                  <div class="card text-center item ">
                      <img class="card-img-top" src="./assets/images/product-14.jpg" alt="">
                      <div class="card-body">
                        <h4 class="card-title">Simple 9</h4>
                        <p class="card-text">700,000 đ</p>
                        <a href="">Thêm vào giỏ hàng</a>
                      </div>
                  </div>
                  <div class="card text-center item ">
                      <img class="card-img-top" src="./assets/images/product-13.jpg" alt="">
                      <div class="card-body">
                        <h4 class="card-title">Simple 8</h4>
                        <p class="card-text">700,000 đ</p>
                        <a href="">Thêm vào giỏ hàng</a>
                      </div>
                  </div>
                  <div class="card text-center item ">
                      <img class="card-img-top" src="./assets/images/product-12.jpg" alt="">
                      <div class="card-body">
                        <h4 class="card-title">Simple 7</h4>
                        <p class="card-text">700,000 đ</p>
                        <a href="">Thêm vào giỏ hàng</a>
                      </div>
                  </div>
                  <div class="card text-center item ">
                      <img class="card-img-top" src="./assets/images/product-11.jpg" alt="">
                      <div class="card-body">
                        <h4 class="card-title">Simple 6</h4>
                        <p class="card-text">700,000 đ</p>
                        <a href="">Thêm vào giỏ hàng</a>
                      </div>
                  </div>
              </div>

              <!-- below -->
              <div class="owl-carousel owl-theme  produc-one">
                  <div class="card text-center item ">
                      <img class="card-img-top" src="./assets/images/product-10.jpg" alt="">
                      <div class="card-body">
                        <h4 class="card-title">Simple 5</h4>
                        <p class="card-text">700,000 đ</p>
                        <a href="">Thêm vào giỏ hàng</a>
                      </div>
                  </div>
                  <div class="card text-center item ">
                      <img class="card-img-top" src="./assets/images/product-09.jpg" alt="">
                      <div class="card-body">
                        <h4 class="card-title">Simple 4</h4>
                        <p class="card-text">700,000 đ</p>
                        <a href="">Thêm vào giỏ hàng</a>
                      </div>
                  </div>
                  <div class="card text-center item ">
                      <img class="card-img-top" src="./assets/images/product-08.jpg" alt="">
                      <div class="card-body">
                        <h4 class="card-title">Simple 3</h4>
                        <p class="card-text">700,000 đ</p>
                        <a href="">Thêm vào giỏ hàng</a>
                      </div>
                  </div>
                  <div class="card text-center item ">
                      <img class="card-img-top" src="./assets/images/product-07.jpg" alt="">
                      <div class="card-body">
                        <h4 class="card-title">Simple 2</h4>
                        <p class="card-text">700,000 đ</p>
                        <a href="">Thêm vào giỏ hàng</a>
                      </div>
                  </div>
                  <div class="card text-center item ">
                      <img class="card-img-top" src="./assets/images/product-06.jpg" alt="">
                      <div class="card-body">
                        <h4 class="card-title">Simple 1</h4>
                        <p class="card-text">700,000 đ</p>
                        <a href="">Thêm vào giỏ hàng</a>
                      </div>
                  </div>
              </div>

          </div>


             <!--  -->
          <div role="tabpanel" class="tab-pane" id="tab">
              <div class="owl-carousel owl-theme  produc-one">
                  <div class="card text-center item ">
                      <img class="card-img-top" src="./assets/images/product-03.png" alt="">
                      <div class="card-body">
                        <h4 class="card-title">Simple 3</h4>
                        <p class="card-text">700,000 đ</p>
                        <a href="">Thêm vào giỏ hàng</a>
                      </div>
                  </div>
                  <div class="card text-center item ">
                      <img class="card-img-top" src="./assets/images/product-04.png" alt="">
                      <div class="card-body">
                        <h4 class="card-title">Simple 10</h4>
                        <p class="card-text">700,000 đ</p>
                        <a href="">Thêm vào giỏ hàng</a>
                      </div>
                  </div>
                  <div class="card text-center item ">
                      <img class="card-img-top" src="./assets/images/product-05.png" alt="">
                      <div class="card-body">
                        <h4 class="card-title">Simple 6</h4>
                        <p class="card-text">700,000 đ</p>
                        <a href="">Thêm vào giỏ hàng</a>
                      </div>
                  </div>
                  <div class="card text-center item ">
                      <img class="card-img-top" src="./assets/images/product-06.jpg" alt="">
                      <div class="card-body">
                        <h4 class="card-title">Simple 8</h4>
                        <p class="card-text">700,000 đ</p>
                        <a href="">Thêm vào giỏ hàng</a>
                      </div>
                  </div>
                  <div class="card text-center item ">
                      <img class="card-img-top" src="./assets/images/product-07.jpg" alt="">
                      <div class="card-body">
                        <h4 class="card-title">Simple 9</h4>
                        <p class="card-text">700,000 đ</p>
                        <a href="">Thêm vào giỏ hàng</a>
                      </div>
                  </div>
              </div>

              <!-- below -->
              <div class="owl-carousel owl-theme  produc-one">
                  <div class="card text-center item ">
                      <img class="card-img-top" src="./assets/images/product-08.jpg" alt="">
                      <div class="card-body">
                        <h4 class="card-title">Simple 7</h4>
                        <p class="card-text">700,000 đ</p>
                        <a href="">Thêm vào giỏ hàng</a>
                      </div>
                  </div>
                  <div class="card text-center item ">
                      <img class="card-img-top" src="./assets/images/product-09.jpg" alt="">
                      <div class="card-body">
                        <h4 class="card-title">Simple 2</h4>
                        <p class="card-text">700,000 đ</p>
                        <a href="">Thêm vào giỏ hàng</a>
                      </div>
                  </div>
                  <div class="card text-center item ">
                      <img class="card-img-top" src="./assets/images/product-10.jpg" alt="">
                      <div class="card-body">
                        <h4 class="card-title">Simple 1</h4>
                        <p class="card-text">700,000 đ</p>
                        <a href="">Thêm vào giỏ hàng</a>
                      </div>
                  </div>
                  <div class="card text-center item ">
                      <img class="card-img-top" src="./assets/images/product-11.jpg" alt="">
                      <div class="card-body">
                        <h4 class="card-title">Simple 4</h4>
                        <p class="card-text">700,000 đ</p>
                        <a href="">Thêm vào giỏ hàng</a>
                      </div>
                  </div>
                  <div class="card text-center item ">
                      <img class="card-img-top" src="./assets/images/product-12.jpg" alt="">
                      <div class="card-body">
                        <h4 class="card-title">Simple 5</h4>
                        <p class="card-text">700,000 đ</p>
                        <a href="">Thêm vào giỏ hàng</a>
                      </div>
                  </div>
              </div>
          </div>



          <!--  -->
          <div role="tabpanel" class="tab-pane" id="hello">
              <div class="owl-carousel owl-theme  produc-one">
                  <div class="card text-center item ">
                      <img class="card-img-top" src="./assets/images/product-12.jpg" alt="">
                      <div class="card-body">
                        <h4 class="card-title">Simple 10</h4>
                        <p class="card-text">700,000 đ</p>
                        <a href="">Thêm vào giỏ hàng</a>
                      </div>
                  </div>
                  <div class="card text-center item ">
                      <img class="card-img-top" src="./assets/images/product-14.jpg" alt="">
                      <div class="card-body">
                        <h4 class="card-title">Classico 1</h4>
                        <p class="card-text">700,000 đ</p>
                        <a href="">Thêm vào giỏ hàng</a>
                      </div>
                  </div>
                  <div class="card text-center item ">
                      <img class="card-img-top" src="./assets/images/product-13.jpg" alt="">
                      <div class="card-body">
                        <h4 class="card-title">Classico</h4>
                        <p class="card-text">700,000 đ</p>
                        <a href="">Thêm vào giỏ hàng</a>
                      </div>
                  </div>
                  <div class="card text-center item ">
                      <img class="card-img-top" src="./assets/images/product-12.jpg" alt="">
                      <div class="card-body">
                        <h4 class="card-title">Simple 4</h4>
                        <p class="card-text">700,000 đ</p>
                        <a href="">Thêm vào giỏ hàng</a>
                      </div>
                  </div>
                  <div class="card text-center item ">
                      <img class="card-img-top" src="./assets/images/product-11.jpg" alt="">
                      <div class="card-body">
                        <h4 class="card-title">Simple 8</h4>
                        <p class="card-text">700,000 đ</p>
                        <a href="">Thêm vào giỏ hàng</a>
                      </div>
                  </div>
              </div>

              <!-- below -->
              <div class="owl-carousel owl-theme  produc-one">
                  <div class="card text-center item ">
                      <img class="card-img-top" src="./assets/images/product-10.jpg" alt="">
                      <div class="card-body">
                        <h4 class="card-title">Simple 1</h4>
                        <p class="card-text">700,000 đ</p>
                        <a href="">Thêm vào giỏ hàng</a>
                      </div>
                  </div>
                  <div class="card text-center item ">
                      <img class="card-img-top" src="./assets/images/product-09.jpg" alt="">
                      <div class="card-body">
                        <h4 class="card-title">Simple 4</h4>
                        <p class="card-text">700,000 đ</p>
                        <a href="">Thêm vào giỏ hàng</a>
                      </div>
                  </div>
                  <div class="card text-center item ">
                      <img class="card-img-top" src="./assets/images/product-08.jpg" alt="">
                      <div class="card-body">
                        <h4 class="card-title">Simple 6</h4>
                        <p class="card-text">700,000 đ</p>
                        <a href="">Thêm vào giỏ hàng</a>
                      </div>
                  </div>
                  <div class="card text-center item ">
                      <img class="card-img-top" src="./assets/images/product-07.jpg" alt="">
                      <div class="card-body">
                        <h4 class="card-title">Simple 2</h4>
                        <p class="card-text">700,000 đ</p>
                        <a href="">Thêm vào giỏ hàng</a>
                      </div>
                  </div>
                  <div class="card text-center item ">
                      <img class="card-img-top" src="./assets/images/product-06.jpg" alt="">
                      <div class="card-body">
                        <h4 class="card-title">Simple 3</h4>
                        <p class="card-text">700,000 đ</p>
                        <a href="">Thêm vào giỏ hàng</a>
                      </div>
                  </div>
              </div>

          </div>
      </div>
     </div>
  </div>
</div>



<div class="infor-product">
  <div class="container">
      <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="blog-one wow animate__animated animate__fadeInUp " data-wow-duration="2s" data-wow-delay=".5s" >
                  <div class="blog-img"><img src="./assets/images/new-4.jpg" alt="" class="w-100"></div>
                  <div class="blog-content">
                      <h5 class="post-title">
                          Chiếc đồng hồ của những CEO quyền lực nhất thế giới
                      </h5>
                      <p class="content-post">Đối với một số doanh nhân, một chiếc đồng hồ đeo tay không chỉ là ...					</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="blog-one wow animate__animated animate__fadeInUp " data-wow-duration="2s" data-wow-delay=".5s">
                  <div class="blog-img"><img src="./assets/images/trend-2.jpg" alt="" class="w-100"></div>
                  <div class="blog-content">
                      <h5 class="post-title">
                          12 chiếc đồng hồ dành cho nữ giới đắt giá nhất mọi thời đại
                      </h5>
                      <p class="content-post">Công nghiệp sản xuất đồng hồ sang trọng có dấu hiệu chững lại trong hai ...					</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="blog-one wow animate__animated animate__fadeInUp " data-wow-duration="2s" data-wow-delay=".5s">
                  <div class="blog-img"><img src="./assets/images/new-3.jpg" alt="" class="w-100"></div>
                  <div class="blog-content">
                      <h5 class="post-title">
                          10 thương hiệu đồng hồ cao cấp hàng đầu mọi quý ông đều quan tâm,
                      </h5>
                      <p class="content-post">1. Audemars Piguet Được thành lập vào năm 1875 bởi Edward-Auguste Piguet, ...					</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="login-up">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
              <h2>ĐĂNG KÝ NHẬN THÔNG TIN</h2>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
              <p class="text-right">
                  <span class="input-log">
                      <input type="text" name="" id="" placeholder="Email...">
                  </span>
                  <a href="#">ĐĂNG KÝ</a>
              </p>
          </div>
      </div>
  </div>
</div>
