<div class="gap-element clearfix" style="display: block;
    height: auto;
    padding-top: 20px;">
    </div>
    <!-- product-details -->
    <div class="container ctn-details">
		<div class="row">
			<div class="col-lg-6">
				<div class="owl-carousel owl-theme my-hot-product1">
					<div class="main-img  item">
						<img src="./assets/images/product-05.png" alt="">
					</div>
					<div class="main-img item">
						<img src="./assets/images/product-06.jpg" alt="">
					</div>
					<div class="main-img item">
						<img src="./assets/images/product-07.jpg" alt="">
					</div>
					<div class="main-img item">
						<img src="./assets/images/product-08.jpg" alt="">
					</div>
				</div>

                <div class="sub-./assets/images">
                    <div class="owl-carousel owl-theme my-sub-img">
                    <img src="./assets/images/product-05.png" alt="" class="sub-img">
                    <img src="./assets/images/product-06.jpg" alt=""  class="sub-img">
					<img src="./assets/images/product-07.jpg" alt=""  class="sub-img">
					<img src="./assets/images/product-08.jpg" alt=""  class="sub-img">
                    </div>
                </div>
			</div>

            <div class="col-lg-6">
                <div class="side-bar">
                    <nav class="breadcrumb">
                        <a class="breadcrumb-item" href="#">Trang chủ</a>
                        <a class="breadcrumb-item" href="#">Best Seller</a>
                    </nav>
                    <h3 class="name-product">Classico 4</h3>
                    <div class="is-divider"></div>
                    <div class="price-wrapper">
                        <p>
                            700,000 đ
                        </p>
                    </div>
                    <div class="product-short-description">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum. Morbi ornare lectus quis justo gravida semper. Nulla tellus mi, vulputate adipiscing cursus eu, suscipit id nulla.
                        </p>
                        <ul class="stock-cont">
                            <li>Sku: P006</li>
                            <li>Categories: Butter & Eggs, Cultured Butter</li>
                            <li>
                                Tag: Man
                            </li>
                        </ul>
                    </div>
                    <div class="add-shop-amount">

                        <div class="wrapper12">
                            <input type="button" value="-" class="minus"/>
                            <input type="text" value="1" id="num"/>
                            <input type="button" value="+" class="plus"/>
                        </div>
                        <a class="add-shop">Thêm vào giỏ</a>

                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="ship-money">
                                <p>Tính phí ship tự động</p>
                              <div class="blog-img">
                                <div class="ship-brand">
                                    <img src="./assets/images/logo-ghn.jpg" alt=""  class="w-100">
                                   </div>
                                   <div class="ship-brand">
                                    <img src="./assets/images/logo-ghtk.jpg" alt=""  class="w-100">
                                   </div>
                                   <div class="ship-brand">
                                    <img src="./assets/images/logo-ninja-van.jpg" alt=""  class="w-100">
                                   </div>
                                   <div class="ship-brand">
                                    <img src="./assets/images/logo-shipchung.jpg" alt=""  class="w-100">
                                   </div>
                                   <div class="ship-brand">
                                    <img src="./assets/images/logo-viettle-post.jpg" alt=""  class="w-100">
                                   </div>
                                   <div class="ship-brand">
                                    <img src="./assets/images/logo-vn-post.jpg" alt=""  class="w-100">
                                   </div>
                              </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="check-out">
                                <p>Thanh toán</p>
                               <div class="blog-credit">
                                <div class="card-credit" >
                                    <img src="./assets/images/logo-mastercard.jpg" alt="" class="w-100">
                                </div>
                                <div class="card-credit">
                                    <img src="./assets/images/logo-paypal.jpg" alt="" class="w-100">
                                </div>
                                <div class="card-credit">
                                    <img src="./assets/images/logo-techcombank.jpg" alt="" class="w-100">
                                </div>
                                <div class="card-credit">
                                    <img src="./assets/images/logo-acb.jpg" alt="" class="w-100">
                                </div>
                                <div class="card-credit">
                                    <img src="./assets/images/logo-vib.jpg" alt="" class="w-100">
                                </div>
                                <div class="card-credit">
                                    <img src="./assets/images/logo-vcb.jpg" alt="" class="w-100">
                                </div>
                               </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="login-affilate">
                                <p>"Hãy trở thành Affilicate của chúng tôi để tìm thêm thu nhập thụ động, kiếm tiền online"</p>
                                <button class="login-affi">Đăng ký Affilicate</button>
                            </div>
                        </div>
                    </div>
                    <div class="yith-wcwl-add-to-wishlist">
                        <p class="add-toLove">Thêm yêu thích</p>
                        <p class="code">Mã: P006-1-1-1-1</p>
                        <p class="index">Danh mục: Best seller</p>
                    </div>
                </div>
            </div>
		</div>
	</div>

    <div class="container des-container">
        <div class="description">
            <div role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#home" aria-controls="home" role="tab" data-toggle="tab" class="des">Mô tả</a>
                    </li>
                    <li role="presentation">
                        <a href="#tab" aria-controls="tab" role="tab" data-toggle="tab"  class="des des-regard">Đánh giá</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active content-tab" id="home">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum. Morbi ornare lectus quis justo gravida semper. Nulla tellus mi, vulputate adipiscing cursus eu, suscipit id nulla.

                        Pellentesque aliquet, sem eget laoreet ultrices, ipsum metus feugiat sem, quis fermentum turpis eros eget velit. Donec ac tempus ante. Fusce ultricies massa massa. Fusce aliquam, purus eget sagittis vulputate, sapien libero hendrerit est, sed commodo augue nisi non neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempor, lorem et placerat vestibulum, metus nisi posuere nisl, in accumsan elit odio quis mi. Cras neque metus, consequat et blandit et, luctus a nunc. Etiam gravida vehicula tellus, in imperdiet ligula euismod eget.</div>
                    <div role="tabpanel" class="tab-pane content-tab" id="tab">
                        <h6>Đánh giá</h6>
                        Chưa có đánh giá nào.
                    </div>
                </div>
            </div>

        </div>
    </div>





    <div class="login-up">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <h2>ĐĂNG KÝ NHẬN THÔNG TIN</h2>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <p class="text-right">
                        <span class="input-log">
                            <input type="text" name="" id="" placeholder="Email...">
                        </span>
                        <a href="#">ĐĂNG KÝ</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
