<div class="shop-page py-3">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="title-shop">
                  <nav class="breadcrumb bred">
                      <a class="breadcrumb-item index-page" href="index.html">Trang chủ</a>
                      <a class="breadcrumb-item" href="product.html">Cửa hàng</a>

                  </nav>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="page-shop">
  <div class="container">
      <div class="row">
          <div class="col-lg-3 hddin">
             <div class="list-product">
              <h3>Danh mục sản phẩm</h3>
              <ul class="list-group">
                  <li class="list-group-item ">Demo</li>
                  <li class="list-group-item">Demo</li>
                  <li class="list-group-item">Sản phẩm</li>
              </ul>
             </div>

             <h3 class="product">Sản phẩm</h3>

             <ul class="list-group">
              <li class="list-group-item">
                  <div class="media">
                      <a class="d-flex" href="#" style="width: 65px;">
                          <img src="./assets/images/product-02.png" alt="" class="w-100">
                      </a>
                      <div class="media-body media-content">
                          <h5>Simple 10</h5>
                          700,000 đ
                      </div>
                  </div>
              </li>
              <li class="list-group-item">
                  <div class="media">
                      <a class="d-flex" href="#" style="width: 65px;">
                          <img src="./assets/images/product-03.png" alt="" class="w-100">
                      </a>
                      <div class="media-body media-content">
                          <h5>Simple 9</h5>
                          700,000 đ
                      </div>
                  </div>
              </li>
              <li class="list-group-item">
                  <div class="media">
                      <a class="d-flex" href="#" style="width: 65px;">
                          <img src="./assets/images/product-04.png" alt="" class="w-100">
                      </a>
                      <div class="media-body media-content">
                          <h5>Simple 8</h5>
                          700,000 đ
                      </div>
                  </div>
              </li>
              <li class="list-group-item">
                  <div class="media">
                      <a class="d-flex" href="#" style="width: 65px;">
                          <img src="./assets/images/product-05.png" alt="" class="w-100">
                      </a>
                      <div class="media-body media-content">
                          <h5>Simple 7</h5>
                          700,000 đ
                      </div>
                  </div>
              </li>
              <li class="list-group-item">
                  <div class="media">
                      <a class="d-flex" href="#" style="width: 65px;">
                          <img src="./assets/images/product-06.jpg" alt="" class="w-100">
                      </a>
                      <div class="media-body media-content">
                          <h5>Simple 6</h5>
                          700,000 đ
                      </div>
                  </div>
              </li>
              <li class="list-group-item">
                  <div class="media">
                      <a class="d-flex" href="#" style="width: 65px;">
                          <img src="./assets/images/product-07.jpg" alt="" class="w-100">
                      </a>
                      <div class="media-body media-content">
                          <h5>Simple 5</h5>
                          700,000 đ
                      </div>
                  </div>
              </li>
             </ul>


          </div>

          <div class="col-lg-9">
              <div class="product-shop">
                  <div class="row">
                      <div class="col-lg-3 col-md-4">
                          <div class="card">
                              <img class="card-img-top" src="./assets/images/product-16.jpg" alt="">
                              <div class="card-body text-center">
                                  <h4 class="card-title">Simple 10</h4>
                                  <p class="card-text">700,000 đ</p>
                                  <button class="py-1 px-1" style="background-color: #c89979; color: #fff; font-weight: bold; text-transform: uppercase; font-size: 13px; border: none;">Thêm vào giỏ</button>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-3 col-md-4">
                          <div class="card">
                              <img class="card-img-top" src="./assets/images/product-14.jpg" alt="">
                              <div class="card-body text-center">
                                  <h4 class="card-title">Simple 9</h4>
                                  <p class="card-text">700,000 đ</p>
                                  <button class="py-1 px-1" style="background-color: #c89979; color: #fff; font-weight: bold; text-transform: uppercase; font-size: 13px; border: none;">Thêm vào giỏ</button>

                              </div>
                          </div>
                      </div>
                      <div class="col-lg-3 col-md-4">
                          <div class="card">
                              <img class="card-img-top" src="./assets/images/product-13.jpg" alt="">
                              <div class="card-body text-center">
                                  <h4 class="card-title">Simple 8</h4>
                                  <p class="card-text">700,000 đ</p>
                                  <button class="py-1 px-1" style="background-color: #c89979; color: #fff; font-weight: bold; text-transform: uppercase; font-size: 13px; border: none;">Thêm vào giỏ</button>

                              </div>
                          </div>
                      </div>
                      <div class="col-lg-3 hidden1">
                          <div class="card">
                              <img class="card-img-top" src="./assets/images/product-12.jpg" alt="">
                              <div class="card-body text-center">
                                  <h4 class="card-title">Simple 7</h4>
                                  <p class="card-text">700,000 đ</p>
                                  <button class="py-1 px-1" style="background-color: #c89979; color: #fff; font-weight: bold; text-transform: uppercase; font-size: 13px; border: none;">Thêm vào giỏ</button>

                              </div>
                          </div>
                      </div>
                  </div>

                  <!-- row-2 -->
                  <div class="row py-3">
                      <div class="col-lg-3 col-md-4">
                          <div class="card">
                              <img class="card-img-top" src="./assets/images/product-11.jpg" alt="">
                              <div class="card-body text-center">
                                  <h4 class="card-title">Simple 6</h4>
                                  <p class="card-text">700,000 đ</p>
                                  <button class="py-1 px-1" style="background-color: #c89979; color: #fff; font-weight: bold; text-transform: uppercase; font-size: 13px; border: none;">Thêm vào giỏ</button>

                              </div>
                          </div>
                      </div>
                      <div class="col-lg-3 col-md-4">
                          <div class="card">
                              <img class="card-img-top" src="./assets/images/product-10.jpg" alt="">
                              <div class="card-body text-center">
                                  <h4 class="card-title">Simple 5</h4>
                                  <p class="card-text">700,000 đ</p>
                                  <button class="py-1 px-1" style="background-color: #c89979; color: #fff; font-weight: bold; text-transform: uppercase; font-size: 13px; border: none;">Thêm vào giỏ</button>

                              </div>
                          </div>
                      </div>
                      <div class="col-lg-3 col-md-4">
                          <div class="card">
                              <img class="card-img-top" src="./assets/images/product-09.jpg" alt="">
                              <div class="card-body text-center">
                                  <h4 class="card-title">Simple 4</h4>
                                  <p class="card-text">700,000 đ</p>
                                  <button class="py-1 px-1" style="background-color: #c89979; color: #fff; font-weight: bold; text-transform: uppercase; font-size: 13px; border: none;">Thêm vào giỏ</button>

                              </div>
                          </div>
                      </div>
                      <div class="col-lg-3 col-md-4 custom-product">
                          <div class="card">
                              <img class="card-img-top" src="./assets/images/product-08.jpg" alt="">
                              <div class="card-body text-center">
                                  <h4 class="card-title ">Simple 3</h4>
                                  <p class="card-text">700,000 đ</p>
                                  <button class="py-1 px-1" style="background-color: #c89979; color: #fff; font-weight: bold; text-transform: uppercase; font-size: 13px; border: none;">Thêm vào giỏ</button>

                              </div>
                          </div>
                      </div>
                  </div>


              </div>
          </div>
      </div>
  </div>
</div>

<div class="login-up">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
              <h2>ĐĂNG KÝ NHẬN THÔNG TIN</h2>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
              <p class="text-right">
                  <span class="input-log">
                      <input type="text" name="" id="" placeholder="Email...">
                  </span>
                  <a href="#">ĐĂNG KÝ</a>
              </p>
          </div>
      </div>
  </div>
</div>
