<header id="main-header">
        <div class="wrap-top">
            <div class="container wrapper">
                <div class="top-bar">
                     <div class="address-phone">
                         <i class="fa-solid fa-location-dot"></i><span>319 - C16 Lý Thường Kiệt, P.15, Q.11, Tp.HCM</span>
                         <i class="fa-solid fa-phone phone-icon"></i><span>076 922 0162</span>
                     </div>
                     <div class="social-media">
                         <i class="fa-brands fa-facebook"></i>
                         <i class="fa-brands fa-instagram"></i>
                         <i class="fa-brands fa-twitter"></i>
                     </div>
                </div>
        </div>
        </div>

        <div class="middle-header">
            <div class="container wrapper">
                <div class="row">
                    <div class="col-lg-3 col-md-3  logo-col">
                        <div class="logo">
                            <a href="index.html"><img src="./assets/images/logo-mona-2.png" alt="" ></a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 ">
                        <div class="search">
                            <input type="text" placeholder="Tìm kiếm...">
                            <i class="fa fa-search search-button" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 ">
                        <div class="login-love-bag">
                            <span class="login"><a [routerLink]="['components/login']" routerLinkActive="router-link-active"  style="color: #fff;font-weight: 700;">Đăng nhập</a></span>
                            <span class="heart">
                                <i class="fa-solid fa-heart icon-heart"></i>
                            </span>
                            <span class="shopping-bag">
                                <a [routerLink]="['components/cart-shop']" routerLinkActive="router-link-active" style="color: #fff;"><i class="fa-sharp fa-regular fa-bag-shopping"></i></a>

                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="menu-bar">
           <nav class="navbar navbar-expand-sm navbar-dark nav-menu">
               <button class="navbar-toggler d-lg-none btn-bar" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                   aria-expanded="false" aria-label="Toggle navigation"><i class="fa-solid fa-bars icon-bar"></i></button>

               <div class="collapse navbar-collapse wrapp-ul" id="collapsibleNavId">
                   <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ul-menu">
                       <li class="nav-item active li-menu">
                           <a class="nav-link a-menu" [routerLink]="['']" routerLinkActive="router-link-active">Trang chủ <span class="sr-only">(current)</span></a>
                       </li>
                       <li class="nav-item li-menu">
                           <a class="nav-link a-menu" [routerLink]="['components/about']" routerLinkActive="router-link-active">Giới thiệu</a>
                       </li>
                       <li class="nav-item li-menu">
                           <a class="nav-link a-menu" [routerLink]="['components/product']" routerLinkActive="router-link-active">Đồng hồ nam</a>
                       </li>
                       <li class="nav-item li-menu">
                           <a class="nav-link a-menu" [routerLink]="['components/product']" routerLinkActive="router-link-active">Đồng hồ nữ</a>
                       </li>
                       <li class="nav-item li-menu">
                           <a class="nav-link a-menu" [routerLink]="['blog']" routerLinkActive="router-link-active">Blogs</a>
                       </li>
                       <li class="nav-item li-menu">
                           <a class="nav-link a-menu" [routerLink]="['components/contact']" routerLinkActive="router-link-active">Liên hệ</a>
                       </li>
                   </ul>
               </div>

           </nav>
        </div>
    </header>

    <div class="banner">
      <div id="carouselId" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
              <li data-target="#carouselId" data-slide-to="0" class="active"></li>
              <li data-target="#carouselId" data-slide-to="1"></li>
              <li data-target="#carouselId" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
              <div class="carousel-item" [ngClass] ="key
               == 0 ? 'active' : ' '" *ngFor="let b of banners; let key = index">
                  <img src="{{b}}" alt="First slide" class="w-100">
                  <div class="carousel-caption  d-md-block caption-banner  animate__animated animate__fadeInRight" >
                      <h4>Mona Watch</h4>
                      <h1>Đồng hồ Classico</h1>
                      <p>Cùng với sự phát triển không ngừng của thời trang thế giới, rất nhiều thương hiệu cho ra đời những mẫu đồng hồ nam chính hãng đa dạng về phong cách, kiểu dáng, màu sắc, kích cỡ…</p>
                      <a href="#">
                          <span>Xem sản phẩm</span>
                      </a>
                  </div>
              </div>
          </div>
          <a class="carousel-control-prev" href="#carouselId" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselId" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
          </a>
      </div>
  </div>

<router-outlet></router-outlet>




<div class="footer">
  <div class="hotline-footer">
     <div class="container">
      <div class="row">
          <div class="col-lg-3 col-md-5">
              <div class="hotline-info">
                  <h3>THÔNG TIN LIÊN HỆ</h3>
                  <p>
                      <span class="icon">
                          <i class="fa-solid fa-location-dot"></i>
                      </span>
                      <span class="add-content">319 C16 Lý Thường Kiệt, Phường 15, Quận 11, Tp.HCM</span>
                  </p>
                  <p>
                      <span class="icon">
                          <i class="fa-duotone fa-phone-rotary"></i>
                      </span>
                      <span class="add-content">076 922 0162</span>
                  </p>
                  <p>
                      <span class="icon">
                          <i class="fa-duotone fa-square-envelope"></i>
                      </span>
                      <span class="add-content">demonhunterg@gmail.com <br>mon@mona.media</span>
                  </p>
                  <p>
                      <span class="icon">
                          <i class="fa-sharp fa-solid fa-s"></i>
                      </span>
                      <span class="add-content">demonhunterp</span>
                  </p>

              </div>
          </div>



          <div class="col-lg-3 col-md-3">
              <div class="hotline-info">
                  <h3>LIÊN KẾT</h3>
                  <ul>
                      <li>
                         Giới thiệu
                      </li>
                      <li>
                         Đồng hồ nam
                      </li>
                      <li>
                         Đồng hồ nữ
                      </li>
                      <li>
                         Blogs
                      </li>
                      <li>
                          Liên hệ
                      </li>
                  </ul>

              </div>
          </div>


          <div class="col-lg-3 col-md-3">
              <div class="hotline-info">
                  <h3>HỖ TRỢ</h3>
                  <ul>
                      <li>
                          Hướng dẫn mua hàng
                      </li>
                      <li>
                          Hướng dẫn thanh toán
                      </li>
                      <li>
                          Chính sách bảo hành
                      </li>
                      <li>
                          Chính sách đổi trả
                      </li>
                      <li>
                         Tư vấn khách hàng
                      </li>
                  </ul>

              </div>
          </div>
          <div class="col-lg-3">
              <div class="hotline-info ipad-app">
                  <h3>TẢI ỨNG DỤNG TRÊN</h3>
                  <ul>
                      <li>
                         Ứng dụng Mona Watch hiện có sẵn trên Google Play & App Store. Tải nó ngay.
                      </li>
                      <li>

                          <img src="./assets/images/img-appstore.jpg" alt="">

                      </li>
                      <li>

                            <img src="./assets/images/img-googleplay.jpg" alt="">

                      </li>

                  </ul>
              </div>
          </div>
       </div>
     </div>
  </div>

  <div class="exclusive-brand">
      <div class="container">
          <div class="row">
              <div class="col-lg-6">
                  <div class="copyright-footer">
                  © Bản quyền thuộc về công ty. Thiết kế website <img src="http://mona-media.com/logo.png" style="width:20px;vertical-align:sub;" alt="MonaMedia"> <a href=" " title="Mona Media" style="color: #fff;"><strong>Mona Media</strong></a>
                  </div>
              </div>
              <div class="col-lg-6">
                  <div class="payment-footer text-right">
                      <img src="./assets/images/img-payment.png" alt="">
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


