<div class="gap-element clearfix" style="display: block;
height: auto;
padding-top: 50px;">
</div>

<!-- login -->



<div class="form">
<div class="container ctnn1">
    <div class="row">
        <div class="col-lg-12 wow animate__animated animate__backInDown" data-wow-duration="2s" data-wow-delay=".3s">
            <div class="form-login">
                <form action="" name="form_login" method="POST">
                    <h3>Đăng nhập tài khoản</h3>
                    <p>
                        <label for="email">Email</label>
                        <input type="text" placeholder="Email" id="email" name="email" class="email-class">
                    </p>
                    <p>
                        <label for="password">Password</label>
                        <input type="text" placeholder="Password" id="password" name="password" class="password-class">
                    </p>
                    <p class="buttn">
                        <button class="btnn">ĐĂNG NHẬP</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
</div>

<div class="login-up">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h2>ĐĂNG KÝ NHẬN THÔNG TIN</h2>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <p class="text-right">
                    <span class="input-log">
                        <input type="text" name="" id="" placeholder="Email...">
                    </span>
                    <a href="#">ĐĂNG KÝ</a>
                </p>
            </div>
        </div>
    </div>
</div>
