<div class="gap-element clearfix" style="display: block;
    height: auto;
    padding-top: 40px;">
    </div>
    <!-- cart-product -->
    <div class="cart-shop">
        <div class="container ctn2">
            <div class="row">
                <div class="col-lg-7 col-md-12">
                    <form action="">
                        <table border:2 cellpadding:7 class="main-table">
                            <thead>
                                <tr>
                                    <th>Sản phẩm</th>
                                    <th class="price-hidden-mobile">Giá</th>
                                    <th style="width: 190px;">Số lượng</th>
                                    <th>Tổng</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="width: 220px;" class="product-name">
                                        <div class="icon-delete">
                                            <i class="fa-solid fa-xmark" style="cursor: pointer;"></i>
                                        </div>
                                        <div class="img-product" style="width: 90px;">
                                            <img src="./assets/images/product-05.png" alt="" class="w-100">
                                        </div>
                                        <div class="product-name1">
                                            Classic 3
                                        </div>
                                    </td>
                                    <td style="width: 90px; font-weight: bolder;" class="price-hidden">
                                        700,000 đ
                                    </td>
                                    <td>
                                        <div class="wrapper1">
                                            <input type="button" value="-" class="minus"/>
                                            <input type="text" value="1" id="num"/>
                                            <input type="button" value="+" class="plus"/>
                                        </div>
                                    </td>
                                    <td style="width: 90px;font-weight: bold;">
                                        700,000 đ
                                    </td>
                                </tr>
                                <tr >
                                   <td colspan="3">
                                    <div class="excute-btn">
                                        <button class="continue-btn">Tiếp tục xem sản phẩm</button>
                                        <button class="update-cart">Cập nhật giỏ hàng</button>
                                       </div>
                                   </td>
                                 </tr>

                            </tbody>

                        </table>
                    </form>
                </div>

                <div class="col-lg-5 col-md-12">
                    <div class="cart-sidebar">
                        <table style="border-bottom: 2px solid #ececec;width: 100%;">
                            <thead>
                                <tr>
                                    <th class="product-name " colspan="2" style="border-width:3px;">Tổng số lượng</th>
                                </tr>
                            </thead>
                        </table>
                        <table class="shop_table shop_table_responsive">
                            <tbody style="border-bottom: 2px solid #ececec;">
                                <tr>
                                    <th style="width: 300px;" class="tp">Tổng phụ</th>
                                    <td style="text-align: right;padding-top: 20px;">700,000 đ</td>
                                </tr>
                                <tr>
                                    <th>Giao hàng</th>
                                    <td>Giao hàng miễn phí</td>
                                </tr>
                                <tr>
                                    <th style="padding-top: 25px ;">
                                        Tổng
                                    </th>
                                    <td class="text-right" style="padding-top: 25px;">
                                        700,000 đ
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="wc-proceed-to-checkout">
                            <a href="#" class="checkout-button button alt wc-forward">
                                Tiến hành thanh toán</a>
                        </div>

                        <form class="checkout_coupon " method="post">
                            <div class="coupon">
                                <h3 class="widget-title">
                                    <i class="fa-regular fa-tag"></i>Phiếu ưu đãi
                                </h3>
                                <input type="text" name="coupon_code" class="input-text" id="coupon_code" placeholder="Mã ưu đãi">
                                <input type="submit" class="is-form expand" name="apply_coupon" >
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="login-up">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <h2>ĐĂNG KÝ NHẬN THÔNG TIN</h2>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <p class="text-right">
                        <span class="input-log">
                            <input type="text" name="" id="" placeholder="Email...">
                        </span>
                        <a href="#">ĐĂNG KÝ</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
